.pagination{
	margin-top: 100px;
}

.pagination a {
	color: white;
	border: 1px solid #0553BA;
	background: -webkit-gradient(linear,left top,left bottom,from(#1F6ACD),to(#0553BA));
	background: -moz-linear-gradient(top,#1F6ACD,#0553BA);
	text-shadow: #33519C 0 -1px 0;
	border-image: initial;
}

.pagination a, .pagination span {
	margin-right: 10px;
}

.pagination a, .pagination .current, .pagination .disable {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px 9px 7px 9px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin-top: 12px;
	text-transform: uppercase;
	cursor: pointer;
}

.pagination .current, .pagination .disable {
	cursor: default;
	background: #EEE;
	border: 1px solid #DDD;
	border-image: initial;
}