* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, Times, serif;
	color: #444;
}

a {
	color: #0553BA;
}

input[type="text"], input[type="search"], input[type="email"], input[type="url"], input[type="password"], textarea {
	padding: 5px;
	border: 1px solid #CCC;
}

input.text, input.search, textarea.textarea {
	border-top: 1px solid #7C7C7C;
	border-left: 1px solid #C3C3C3;
	border-right: 1px solid #C3C3C3;
	border-bottom: 1px solid #DDD;
	background: white url(/images/fieldbg.gif) repeat-x top;
}

input.text, input.search, input.file, textarea.textarea, select.select {
	font-family: "Lucida Grande", Tahoma, Arial, sans-serif;
	font-size: 100%;
	color: #333;
	margin: 0;
	padding: 2px 0;
}

h1, h2, h3 {
	font-weight: normal;
	color: black;
}

h1 {
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 20px;
}

h2 {
	font-size: 28px;
}

li {
	font-size: 16px;
	line-height: 30px;
}

ol, ul {
	margin-left: 30px;
	margin-bottom: 20px;
}

p {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 15px;
}

h1 a, h2 a {
	color: #063053;
	text-decoration: none !important;
}

.button{
	color: white;
	border: 1px solid #0553BA;
	background: #0553BA;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px 9px 7px 9px;
	text-transform: uppercase;
	border-radius: .5em;
	text-decoration: none;
	cursor:pointer;
    cursor:hand;
}

.dialogLink{
	color: #77A6D2;
	font-weight: bold;
	text-decoration: none;
}

.center {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

#header {
	min-height: 60px;
	margin: 40px 0 20px 0;
	background: #E3EDF4;
	border-bottom: 1px solid #C9DBEC;
	border-top: 1px solid #C9DBEC;
}

#headerImage{
	background: url(../images/common/duke.png);
	height: 100px;
	width: 100px;
	display: block;	
	position: absolute;
	top: -20px;
	text-indent: -9999em;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	cursor: pointer;
	zoom: 1;
	-webkit-backface-visibility: hidden;
	overflow: hidden;		
}

#headerImage:hover {
	-webkit-transform: rotate(-35deg) scale(1.1);
	-moz-transform: rotate(-35deg) scale(1.1);
	-o-transform: rotate(-35deg) scale(1.1);
}

#headerTitle {
	color: #77A6D2;
	font-size: 40px;
	text-decoration: none !important;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	margin-left: 120px;
	position: absolute;
	top: 5px;
	text-transform: lowercase;
}

#headerSearchArea {
	margin-left: 450px;
	position: absolute;
	top: 20px;
}

#headerSearchBox {
	width: 200px;
}

#headerSearchSubmit {
	padding: 5px;
}

#headerLogArea{
	margin-left: 830px;
	height: 120px;
	width: 270px;
	background: white;
	position: absolute;
	top: -35px;
	border: 1px #E3EDF4 solid;
	font-size: small;
	border-radius: .5em;
}

#headerLogArea div{
	/* margin: 10px 0px 0px 5px; */
}

#headerLogArea label {
	font-size: 95%;
	font-weight: bold;
	color: #77A6D2;
	line-height: 150%;
	border: none;
	white-space: normal;
	width: 100%;
	border-image: initial;
	font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;
	letter-spacing: .01em;
	display: block;
}

#headerLogArea input{
	padding: 3px !important;	
}

#headerPasswordReset{
	margin-left: 40px;
}

#headerSignIn{
	color: white;
	border: 1px solid #0553BA;
	background: -webkit-gradient(linear,left top,left bottom,from(#1F6ACD),to(#0553BA));
	background: -moz-linear-gradient(top,#1F6ACD,#0553BA);
	text-shadow: #33519C 0 -1px 0;
	border-image: initial;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	font-family: tahoma, arial, helvetica, sans-serif;
	padding: 4px 4px 4px 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border-radius: .5em;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
}

.labelLogArea{
	display: block;
}

#logSection{
	margin: 0px 0px 0px 40px;
}

.headerSection{
	margin-bottom: 5px;
}

#actionSection{
	margin-left: 15px;
}

#createAccount{
	padding: 3px !important;
}

#signOut{
	padding: 3px !important;
}

.logText{
	font-size: medium;
	height: 22px;
}

#main {
	min-height: 580px;
}

#leftSpace {
	float: left;
	width: 780px;
	min-height: 400px;		
}

#left{
	padding: 10px 30px 40px 10px;
}

.clear {
	clear: both;
}

#postList > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#postList > ul > li {
	border-bottom: 1px dotted #C9DBEC;
	padding: 30px 10px 40px 10px;
}

#postList p {
	font-size: 14px;
	line-height: 26px;
}

.meta {
	list-style-type: none;
	padding: 0 0 10px 0;
	margin: 8px 0 0 0;
}

.meta a, .meta span {
	padding: 1px 0 3px 20px;
	color: #666;
	display: inline-block;
}

.meta li {
	display: inline-block;
	padding-right: 30px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	line-height: normal;
}

span.metaDate {
	background: url(../images/common/post.png) 0 1px no-repeat;
}

a.metaDemo {
	background: url(../images/common/check.png) 0 3px no-repeat;
}

span.metaAuthor {
	background: url(../images/common/author.gif) 0 1px no-repeat;
}

span.metaPagesCount {
	background: url(../images/common/pages.png) 0 1px no-repeat;
}

.articlePages{
	font-style: italic; 
	font-size: 30px;
}

#rightSpace{
	float: left;
	width: 420px;
	min-height: 400px;
}

#right{
	padding: 0px 0px 0px 0px;
}

.sectionDivider {
	color: #999;
	font-size: 14px;
	margin: 10px 10px 10px 0;
	margin: 10px 10px 10px 0;
	font-family: arial;
	font-size: 11px;
	text-transform: uppercase;
	cursor: default;
	margin-top: 40px;
}

.sectionDividerNoLink{
	margin-bottom: 0px !important;
}

.sectionDivider span {
	background: white;
	padding: 3px 20px 2px 2px;
}

.rightSection {
	margin-bottom: 30px;
}

#rightSocial ul{
	list-style-type: none;
}

#rightSocial li{
	display: inline-block;
}

#rightSocial a {
	margin-right: 5px;
}

#rightAds a {
	border: 1px solid #CCC;
	width: 125px;
	height: 125px;
	display: block;
	border-image: initial;
	font-size: 11px;
	color: #888;
	font-family: verdana,sans-serif;
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	line-height: 1000%;
	font-weight: bold;
	background: #E7E7E7;
}

#rightTags ul{
	list-style-type: none;
}

#rightTags li{
	display: inline-block;
}

#rightTags span{
	margin-right: 5px;
	text-transform: uppercase;
	color: #888;
	font-weight: bold;
	font-style: italic;
}

.rightTagsCloud{
	color: #888;
	margin-right: 5px;
}

#footer {
	background: #E3EDF4;
	border-top: 1px solid #C9DBEC;
	min-height: 160px;
	padding: 20px 0;
	font-family: tahoma, arial, sans-serif;
}

#footer section {
	margin: 0 20px 0 10px;
	width: 300px;
	display: inline-block;
	vertical-align: text-top;
}

#footer h5 {
	color: black;
	font-weight: normal;
	font-size: 18px;
	text-shadow: 1px 1px white;
}

#footer p {
	line-height: 18px;
	font-size: 12px;
	margin-bottom: 15px;
}

.footerTagsCloud{
	color: #444;
	text-decoration: none;
	cursor: default;	
}

#promo {
	margin: 10px 0 20px 0;
	opacity: 0;
	height: 0;
}

#promo span {
	display: inline-block;
}

#promo.ready {
	height: 20px;
	opacity: 1;
}

.img, .code{
	margin-bottom: 15px;	
}

.img div, .code div {
	font-style: italic;
}

.img img{
	margin: 0em 0 1em 0 !important;
}

#article h2{
	margin: 4em 0 1em;
}	

/*#article h2{		
	font-size: 13pt;
	
	text-shadow: #999 2px 2px 8px;
	
	padding:0.5em;
	margin: 6em 0 1em;
	
	color: #333;
	background-color: #eee;
	letter-spacing: 0.12em;
	
	border: 1px solid #bbb;
	border-radius: 0.5em;
}*/

/*#article h2{	
	text-shadow: #999 2px 2px 8px;
	
	padding:0.5em;
	margin: 6em 0 1em;
	
	color: #77A6D2;
	background-color: #E3EDF4;
	letter-spacing: 0.12em;
	
	border: 1px solid #bbb;
	border-radius: 0.5em;
}*/

#article div.addthis_toolbox + h2{
	margin: 3em 0 1em;
}

.aboutMePhoto{
	text-align: center;	
}

.aboutMePhoto a img{
	margin: 10px 10px 10px 10px;
}

.download {
	width: 80px; 
	display: inline-block;
}

.frontAndBackEnd {
	width: 80px; 
	display: inline-block;
}


@-webkit-keyframes reset {
0% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
 
@-webkit-keyframes fade-in {
0% {
    opacity: 0;
}
60% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fadeIn {
    -webkit-animation-name: reset, fade-in;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
}



/* AdTaily */
.AdTaily_Widget_Title{
	display: none !important;
}

.AdTaily_Widget_Buy{
	display: none !important;
}

.AdTaily_Widget_Logo{
	display: none !important;
}

#AdTaily_Widget_Container{
	width: 410px !important;
	border: none !important;
	padding: 0px !important;
	text-align: left !important;
	background-color: white !important;
}

div#AdTaily_Widget_Container div.Footer {
	margin-top: 0px !important;
	padding-bottom: 0px !important;
}



/* Security */
#secArticleListHeader{
	border-bottom: 1px solid #C9DBEC;
	margin-top: 50px;
}

#secArticleListHeader ul{
	margin-bottom: 0px;
	margin-left: 0px;
}

.secArticleListTitle{
	display: inline-block;
	border: 1px solid #C9DBEC;
	border-bottom-style: none;
	border-radius: 3px 3px 0 0;
	padding: 0 20px 0 20px;
	background-color: white;
	margin-bottom: -1px;
	color: #77A6D2;
	font-size: 20px;
	font-weight: bold;
}

#secArticleListActions{
	border-bottom: 1px solid #C9DBEC;
	padding: 10px 0 10px 0;
	text-align: right;
}

#secArticleListActions ul{
	margin-bottom: 0px;
	margin-left: 0px;
}

.secArticleListAction{
	display: inline-block;
	margin-left: 10px;
}

.secArticleListAction a{
	color: #4183C4;
	text-decoration: none;
	font: Helvetica, arial, freesans, clean, sans-serif;
	font-size: 16px;
}

.secArticleListAction a:HOVER{
	text-decoration: underline;
}

#secArticleListContent ul{
	margin-bottom: 0px;
	margin-left: 0px;
	list-style: none;
}

.secArticleListContentTable{
	border-collapse:collapse;
}

.secArticleListContentTable tr td{
	border-bottom: 1px dotted #C9DBEC;
}

.secArticleListContentTable{
	width: 100%;
}

.secArticleListContentColumnPoint{
	width: 5%;
	text-align: center;
}

.secArticleListContentPoint{
	content: url('../images/common/bullet_blue.png') center no-repeat;
}

.secArticleListContentColumnCheckbox{
	width: 10%;
	text-align: center;
}

.secArticleListContentTitle{
	margin-top: 10px;
	margin-left: 30px;
}

.secArticleListContentTitle a{
	font-size: 25px;
	font-weight: bold;
	color: #4183C4;
	text-decoration: none;
	font: Helvetica, arial, freesans, clean, sans-serif;
}

.secArticleListContentTitle a:HOVER{
	text-decoration: underline;
}

.secArticleListContentInfo{
	font-size: 12px;
	color: #888;
	margin-bottom: 20px;
	margin-left: 30px;
}


